### Stock Sentiment Analysis using News Headlines

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
import re

In [2]:
os.chdir('E:\\prasad\\practice\\NLP\\dataset')

In [3]:
df=pd.read_csv('Data.csv',encoding='ISO-8859-1')

In [4]:
df.shape

(4101, 27)

In [5]:
df.isnull().sum().sum()

7

In [6]:
df=df.dropna()

In [7]:
df.isnull().sum().sum()

0

In [8]:
df.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

In [9]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

### Use Train Dataset

In [10]:
df=train.iloc[:,2:27]
df.shape

(3972, 25)

In [11]:
df.head(1)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar's debut double,"Southgate strikes, Leeds pay the penalty",...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title

### Removing punctuations

In [12]:
df.replace('[^a-zA-Z]',' ',regex=True,inplace=True)
df.head(1)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title

### Renaming column names for ease of access

In [13]:
list1=[i for i in range(0,25)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [14]:
new_index=[str(i) for i in list1]
print(new_index)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']

In [15]:
df.columns=new_index
df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title

### Convertng headlines to lower case

In [16]:
for i in new_index:
    df[i]=df[i].str.lower()
df.head(1)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,a hindrance to operations extracts from the...,scorecard,hughes instant hit buoys blues,jack gets his skates on at ice cold alex,chaos as maracana builds up for united,depleted leicester prevail as elliott spoils e...,hungry spurs sense rich pickings,gunners so wide of an easy target,derby raise a glass to strupar s debut double,southgate strikes leeds pay the penalty,...,flintoff injury piles on woe for england,hunters threaten jospin with new battle of the...,kohl s successor drawn into scandal,the difference between men and women,sara denver nurse turned solicitor,diana s landmine crusade put tories in a panic,yeltsin s resignation caught opposition flat f...,russian roulette,sold out,recovering a title

### Join Headlines

In [17]:
' '.join(str(i) for i in df.iloc[1,0:25])

'scorecard the best lake scene leader  german sleaze inquiry cheerio  boyo the main recommendations has cubie killed fees  has cubie killed fees  has cubie killed fees  hopkins  furious  at foster s lack of hannibal appetite has cubie killed fees  a tale of two tails i say what i like and i like what i say elbows  eyes and nipples task force to assess risk of asteroid collision how i found myself at last on the critical list the timing of their lives dear doctor irish court halts ira man s extradition to northern ireland burundi peace initiative fades after rebels reject mandela as mediator pe points the way forward to the ecb campaigners keep up pressure on nazi war crimes suspect jane ratcliffe yet more things you wouldn t know without the movies millennium bug fails to bite'

In [18]:
headlines=[]
for row in range(0,len(df.index)):
    headlines.append(' '.join(str(i) for i in df.iloc[row,0:25]))

In [19]:
headlines[3]

'pilgrim knows how to progress thatcher facing ban mcilroy calls for irish fighting spirit leicester bin stadium blueprint united braced for mexican wave auntie back in fashion  even if the dress looks a bit tatty shoaib appeal goes to the top hussain hurt by  shambles  but lays blame on earlier damage england s decade of disasters revenge is sweet for jubilant cronje our choice  not theirs profile of former us nazi party officer william pierce new evidence shows record of war crimes suspect was not investigated the rise of the supernerds written on the body putin admits yeltsin quit to give him a head start bbc worst hit as digital tv begins to bite how much can you pay for    christmas glitches upending a table  chopping a line and scoring a goal scientific evidence  unreliable   defence claims fusco wins judicial review in extradition case rebels thwart russian advance blair orders shake up of failing nhs lessons of law s hard heart'

### Convert into BagOfWords

In [20]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [21]:
cv=CountVectorizer(ngram_range=(2,2))

In [22]:
X_train=cv.fit_transform(headlines)
X_train.shape

(3972, 583890)

In [23]:
y_train=train['Label']
y_train.shape

(3972,)

### Create Function for Model Building

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [25]:
def check_model(model,X_train,y_train):
    model.fit(X_train,y_train)
    y_pred=model.predict(X_train)
    print('Accuracy Score:',accuracy_score(y_train,y_pred),'\n')
    print('Confusion Matrix:')
    print(confusion_matrix(y_train,y_pred),'\n')
    print('Classification Report:')
    print(classification_report(y_train,y_pred))

In [26]:
# LogisticRegression
# check_model(LogisticRegression(),X_train,y_train)

In [27]:
# RandomForestClassifier
# check_model(RandomForestClassifier(n_estimators=500),X_train,y_train)

In [28]:
# SVC
# check_model(SVC(),X_train,y_train)

In [29]:
# DecisionTreeClassifier
# check_model(DecisionTreeClassifier(),X_train,y_train)

In [30]:
MultinomialNB
check_model(MultinomialNB(),X_train,y_train)

Accuracy Score: 1.0

Confusion Matrix:
[[1879    0]
 [   0 2093]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1879
           1       1.00      1.00      1.00      2093

    accuracy                           1.00      3972
   macro avg       1.00      1.00      1.00      3972
weighted avg       1.00      1.00      1.00      3972

In [31]:
# # KNeighborsClassifier
# check_model(KNeighborsClassifier(),X_train,y_train)

### Select MultinomialNB Model(Accuracy Score: 1.0)

In [32]:
mnb=MultinomialNB()
mnb.fit(X_train,y_train)
y_pred=mnb.predict(X_train)
accuracy_score(y_train,y_pred)

1.0

### Model Evaluation Using Test Dataset

In [33]:
test.shape

(378, 27)

In [34]:
test.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
3723,2015-01-02,1,Most cases of cancer are the result of sheer b...,Iran dismissed United States efforts to fight ...,Poll: One in 8 Germans would join anti-Muslim ...,UK royal family's Prince Andrew named in US la...,Some 40 asylum-seekers refused to leave the bu...,Pakistani boat blows self up after India navy ...,Sweden hit by third mosque arson attack in a week,940 cars set alight during French New Year,...,Ukrainian minister threatens TV channel with c...,Palestinian President Mahmoud Abbas has entere...,Israeli security center publishes names of 50 ...,The year 2014 was the deadliest year yet in Sy...,A Secret underground complex built by the Nazi...,Restrictions on Web Freedom a Major Global Iss...,Austrian journalist Erich Mchel delivered a pr...,Thousands of Ukraine nationalists march in Kiev,Chinas New Years Resolution: No More Harvestin...,Authorities Pull Plug on Russia's Last Politic...

In [35]:
test_headline=[]
for i in range(0,len(test.index)):
    test_headline.append(' '.join(str(x) for x in test.iloc[i,2:27]))

In [36]:
test_headline[1]

'Moscow-&gt;Beijing high speed train will reduce trip time to 48 hours, from the current 7 days Two ancient tombs were discovered in Egypt on Sunday, with one representing a symbolic burial site of the god Osiris while another is claimed to be a previously unknown pharaonic tomb. China complains to Pyongyang after N Korean soldier kills villagers | World news Scotland Headed Towards Being Fossil Fuel-Free by 2030 - Renewable energy projects combined with energy savings could decarbonise the countrys power sector. "We need to see the phasing out of conventional generation in Scotland." Prime Minister Shinzo Abe said Monday he will express remorse for Japans actions in World War II while highlighting the countrys bid to contribute more actively to world peace in his statement marking the 70th anniversary of the wars end in August. Sex slave at centre of Prince Andrew scandal fled to Australia as a teen Gay relative of Hamas founder faces deportation from Canada: Christian convert, 24, whose five uncles were jailed in Israel for terror activity, says hell be killed if forced to return to West Bank The number of female drug addicts in Iran has almost doubled since 2007, with more than 50% starting between the ages of 15 and 19 After Decades of Searching, the Causeway for the Great Pyramid of Egypt has been Found India lost 64 tigers in 2014 Lizard Squad hacking of Sony was "huge marketing" scheme to launch "Lizard Stresser", a paid hacking service. Russia \'may face chaos\' if extra sanctions imposed: Germany The Saudi air and land forces carry out an attack on ISIS within its territory ISIL is reportedly setting up a bank in attempt to \'legitimatise\' itself as a nation state Israel to brand anti-assimilation group Lehava as terrorists The Islamic State has approved a 2015 budget of $2 billion, with an expected surplus of $250 million and has opened an Islamic Bank in Mosul. The budget reportedly includes monthly wages for the poor, disabled and families of individuals killed in airstrikes carried out by US-led coalition forces Iceland To Withdraw EU Application, Lift Capital Controls Blackfield Capital Founder Goes Missing: The value of the ruble isn\'t the only thing that is vanishing in Russia. A Moscow hedge fund chief executive has disappeared, along with all the money in the firm\'s accounts Rocket stage crashes back to Earth in rural Chinese village. 2 Dead as Aircraft Bombs Greek Tanker in Libyan Port Belgian murderer Frank Van Den Bleeken to die at own request. A Belgian murderer and rapist serving a life sentence is to be allowed to die by lethal injection next Sunday following a ruling under laws in Belgium permitting people to request euthanasia. Czech President criticizes Ukrainian PM; says Yatsenyuk is \'prime minister of war\' 3 Vietnamese jets join search for 16 missing Filipinos in Bahamian cargo ship sinking France seeks end to Russia sanctions over Ukraine China scraps rare earths caps'

In [37]:
for i in range(0,len(test_headline)):
    text=re.sub('[^a-zA-Z]',' ',test_headline[i])
    text=text.lower()
    text=text.split()
    test_headline[i]=' '.join(text)

In [38]:
test_headline[1]

'moscow gt beijing high speed train will reduce trip time to hours from the current days two ancient tombs were discovered in egypt on sunday with one representing a symbolic burial site of the god osiris while another is claimed to be a previously unknown pharaonic tomb china complains to pyongyang after n korean soldier kills villagers world news scotland headed towards being fossil fuel free by renewable energy projects combined with energy savings could decarbonise the countrys power sector we need to see the phasing out of conventional generation in scotland prime minister shinzo abe said monday he will express remorse for japans actions in world war ii while highlighting the countrys bid to contribute more actively to world peace in his statement marking the th anniversary of the wars end in august sex slave at centre of prince andrew scandal fled to australia as a teen gay relative of hamas founder faces deportation from canada christian convert whose five uncles were jailed in israel for terror activity says hell be killed if forced to return to west bank the number of female drug addicts in iran has almost doubled since with more than starting between the ages of and after decades of searching the causeway for the great pyramid of egypt has been found india lost tigers in lizard squad hacking of sony was huge marketing scheme to launch lizard stresser a paid hacking service russia may face chaos if extra sanctions imposed germany the saudi air and land forces carry out an attack on isis within its territory isil is reportedly setting up a bank in attempt to legitimatise itself as a nation state israel to brand anti assimilation group lehava as terrorists the islamic state has approved a budget of billion with an expected surplus of million and has opened an islamic bank in mosul the budget reportedly includes monthly wages for the poor disabled and families of individuals killed in airstrikes carried out by us led coalition forces iceland to withdraw eu application lift capital controls blackfield capital founder goes missing the value of the ruble isn t the only thing that is vanishing in russia a moscow hedge fund chief executive has disappeared along with all the money in the firm s accounts rocket stage crashes back to earth in rural chinese village dead as aircraft bombs greek tanker in libyan port belgian murderer frank van den bleeken to die at own request a belgian murderer and rapist serving a life sentence is to be allowed to die by lethal injection next sunday following a ruling under laws in belgium permitting people to request euthanasia czech president criticizes ukrainian pm says yatsenyuk is prime minister of war vietnamese jets join search for missing filipinos in bahamian cargo ship sinking france seeks end to russia sanctions over ukraine china scraps rare earths caps'

In [39]:
X_test=cv.fit_transform(test_headline)
X_test.shape

(378, 107798)

In [40]:
y_test=test['Label']
y_test.shape

(378,)

In [41]:
mnb.fit(X_test,y_test)
y_pred_test=mnb.predict(X_test)
accuracy_score(y_test,y_pred_test)

1.0

### Save Model Using Pickle & Joblib

In [42]:
import pickle,joblib

In [43]:
pickle.dump(mnb,open('stock_senti_pkl','wb'))

In [44]:
joblib.dump(mnb,'stock_senti_jbl')

['stock_senti_jbl']

### Load Pickle Model

In [45]:
model_pkl=pickle.load(open('stock_senti_pkl','rb'))

In [46]:
y_pred_pkl=model_pkl.predict(X_test)

In [47]:
accuracy_score(y_test,y_pred_test)

1.0

### Load Joblib Model

In [48]:
model_jbl=joblib.load('stock_senti_jbl')

In [49]:
y_pred_jbl=model_jbl.predict(X_test)

In [50]:
accuracy_score(y_test,y_pred_jbl)

1.0